$san-serif: "Roboto", "Arial", arial, sans-serif;
$serif: "Roboto", arial, sans-serif;
$header-height: 190px;
$header-height-ipad: 56px;
$header-height-desktop: 96px;
$sidebar-width: 210px;
$content-width: 1440px;
/*-----------------------------
# [Sizes Variable]
----------------------------- */
$breakpoint-lg: 1440px;
$breakpoint-laptop: 1366px;
$breakpoint-md: 1280px;
$breakpoint-ipad-resize: 992px;
$breakpoint-ipad: 768px;
$breakpoint-iphone5: 320px;
$breakpoint-mobile: 375px;
$breakpoint-sm: 48em;
$breakpoint-xs: 37em;
$breakpoint-xxs: 30em;